@{
}
<div class="row">
    <div class="col-12 col-md-4">
        <div class="card bg-info m-2 text-white shadow p-2 rounded-0">
            <div class="card-body row">
                <div class="col-6">
                    <h4>Kategoriler</h4>
                    <h1>@ViewBag.Categories<small>Adet</small></h1>
                </div>
                <div class="col-6">
                    <i class="fa fa-cubes fa-4x text-white-50 ms-2"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="card bg-success m-2 text-white shadow p-2 rounded-0">
            <div class="card-body row">
                <div class="col-6">
                    <h4>İlanlar</h4>
                    <h1>@ViewBag.Properties<small>Adet</small></h1>
                </div>
                <div class="col-6">
                    <i class="fa fa-home fa-4x text-white-50 ms-2"></i>
                </div>
            </div>
        </div>
    </div>
</div>


