@model Category
@{
    ViewData["Title"] = "Kategori Ekleme";
}
<h4>
    @ViewData["Title"]
</h4>
<hr />
<form novalidate method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name"></span>
    </div>
    <hr />
    <button type="submit" class="btn btn-primary">
        <i class="fa fa-save"></i>
        Kaydet
    </button>
    <a asp-action="Index" class="btn btn-link">İptal</a>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

