@{
    ViewData["Title"] = "Home Page";
}

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var item in ViewBag.Showcase as List<Property>)
    {
        <div class="col">
            <div class="card h-100">
                <img src="~/assets/images/no-image.jpg" class="card-img-top" alt="@item.Headline">
                <div class="card-body">
                    <h5 class="card-title">@item.Headline</h5>
                    <h3>@item.Price.ToString("N0")</h3>
                </div>
            </div>
        </div>
    }
</div>