@model MVCRealEstate.Data.Property
@{
    ViewData["Title"] = "Home Page";
}

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card">
            <img src="/assets/images/1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">₺ 350.000</h5>
                <a asp-controller="Home" asp-action="Ilan1" class="btn btn-success">
                    <i class="fa-solid fa-search"></i>
                    İncele
                </a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/assets/images/2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">₺ 4.400.000</h5>
                <a href="" class="btn btn-success">
                    <i class="fa-solid fa-search"></i>
                    İncele
                </a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/assets/images/3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">₺ 1.350.000</h5>
                <a href="" class="btn btn-success">
                    <i class="fa-solid fa-search"></i>
                    İncele
                </a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/assets/images/4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">₺ 2.500.000</h5>
                <a href="" class="btn btn-success">
                    <i class="fa-solid fa-search"></i>
                    İncele
                </a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/assets/images/5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">₺ 1.000.000</h5>
                <a href="" class="btn btn-success">
                    <i class="fa-solid fa-search"></i>
                    İncele
                </a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/assets/images/6.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">₺ 785.000</h5>
                <a href="" class="btn btn-success">
                    <i class="fa-solid fa-search"></i>
                    İncele
                </a>
            </div>
        </div>
    </div>

</div>